%button#btn-back-to-top.fixed.bottom-5.right-5.hidden.rounded-full.py-3.px-4.text-xs.font-medium.uppercase.leading-tight.text-shadowy-100.shadow-md.transition.duration-150.ease-in-out.hover:bg-shadowy-200.hover:shadow-lg.focus:bg-shadowy-200.focus:shadow-lg.focus:outline-none.focus:ring-0.active:bg-shadowy-200.active:shadow-lg.z-30{
  class: 'bg-primary',
  data: {
    controller: "back-to-top-component",
    action: "click->back-to-top-component#backToTop",
    the_ripple_color: "light",
    the_ripple_init: ""
  },
  type: "button"
}
  %i.bi.bi-arrow-up.text-3xl
