.pointer-events-none.flex.items-center.gap-2
  .flex.items-center.py-2.px-3.rounded-3xl.bg-primary.text-light
    %i.bi.bi-calendar.text-lg
= @form.text_field :start_date_between, **@input_attributes
