= render HeaderComponent.new(title: @title, description: @description, buttons: @header_buttons)

= render DataTableComponent.new( data_collection: @data_collection,
pagy: @pagy,
actions: @actions,
excluded_keys: @excluded_keys,
empty_content: @empty_content,
sorting_keys: @sorting_keys,
selector_options: @groups_selector)
