#turbo-progress-bar {
    display: none !important;
}

.modal-content {
    max-width: 95vw;
    max-height: 95vh;
}

.modal-content::-webkit-scrollbar {
    width: 26px;
}

.modal-content::-webkit-scrollbar-track {
    background-color: transparent;
}

.modal-content::-webkit-scrollbar-thumb {
    background-color: #156963;
    margin: 4px;
    border-radius: 1rem;
    border: 10px solid #12222A;
}

.modal-content::-webkit-scrollbar-thumb:hover {
    background-color: #0EA99F;
}

.custom-profile-container {
    margin-top: 24px;
    display: grid;
    grid-gap: 24px;
    justify-content: center;
}

/* Pantallas pequeñas: mostrar 2 tarjetas */
@media (max-width: 344px) {
    .custom-profile-container {
        grid-template-columns: repeat(2, minmax(160px, 1fr));
    }
}

/* Pantallas más grandes: ajustar según sea necesario */
@media (min-width: 345px) {
    .custom-profile-container {
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    }
}

