.col-span-1.flex.flex-col.divide-y.divide-shadowy-200.rounded-xl.text-center.shadow.cursor-pointer.max-w-custom.bg-shadowy-700.p-4.hover:ring-1.hover:ring-primary
  = link_to modal_manager_profiles_path(id: profile.id), data: { turbo_frame: "modal" }, remote: true, class: "text-left button-like" do
    = render ProfileCardComponent.new(photo: profile.face_photo, name: profile.name, surname: profile.surname, agency: profile.form.name, email: profile.email, phone: profile.phone, id: profile.id)

