%li.col-span-1.flex.flex-col.divide-y.divide-shadowy-200.rounded-lg.text-center.shadow.cursor-pointer.max-w-custom
  = link_to modal_manager_profiles_path(id: profile.id), data: { turbo_frame: "profile_modal", turbo_action: 'replace' } do
    = render ProfileCardComponent.new(photo: profile.face_photo.attached? ? url_for(profile.face_photo) : image_url('no_profile_photo.svg'), name: profile.name, surname: profile.surname, agency: profile.agent_name, email: profile.email, phone: profile.phone, id: profile.id)
