= render EmailCenteredTextComponent.new(font_size: '32px', line_height: 1, extra_styles: 'font-weight:bold;', text: t('email_changed.greeting', full_name: @resource.full_name))

= render EmailCenteredTextComponent.new(text: t('unlock_instructions.instruction'))

= render EmailCenteredTextComponent.new(text: t('unlock_instructions.unlock_account_button_instructions'))

= render EmailCenteredButtonComponent.new(text: t('unlock_instructions.unlock_account_button'), url: unlock_url(@resource, unlock_token: @token))

